@model DevFolio2.Models.TblSocialMedia

@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Sosyal Medyayı Güncelle</h2>


<form method="post">
    <input hidden type="text" class="form-control" name="SocialMediaID" value="@Model.SocialMediaID" />
    <br />
    <label>Sosyal Medya İsmi</label>
    <input type="text" class="form-control" name="PlatformName" value="@Model.PlatformName" />
    <br />
    <label>Sosyal Medya İkon Url</label>
    <input type="text" class="form-control" name="IconUrl" value="@Model.IconUrl" />
    <br />
    <label>Sosyal Medya Url</label>
    <input type="text" class="form-control" name="RedirectUrl" value="@Model.RedirectUrl" />
    <br />
    <label>Status</label>
    <input type="text" class="form-control" name="Status" value="@Model.Status.ToString()" />
    <br />
    <button class="btn btn-warning">Güncelle</button>

</form>