
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="alert alert-danger">1) Kategori Sayısı : @ViewBag.categoryCount</div>
<div class="alert alert-warning">2) Proje Sayısı : @ViewBag.projectCount</div>
<div class="alert alert-success">3) Yetenek Sayısı : @ViewBag.skillCount</div>
<div class="alert alert-dark">4) Ortalama Yetenek Puanı : @ViewBag.skillAvgValue</div>
<div class="alert alert-primary">5) Son Yetenek Başlığı : @ViewBag.lastSkillTitle</div>
<div class="alert alert-danger">6) Core Kategorisindeki Proje Sayısı : @ViewBag.coreCategoryProjectCount</div>
<div class="alert alert-warning">7) En İyi Olduğum Hizmet : @ViewBag.eniyihizmet</div>
<div class="alert alert-success">8) Hakkımda Kelime Sayısı : @ViewBag.hakkimdakelimesayisi</div>
<div class="alert alert-dark">9) Sosyal Medya Sayısı : @ViewBag.sosyalMedyaSayisi</div>
<div class="alert alert-primary">10) Okunmayan Mesaj Sayısı : @ViewBag.okunmayanmesajlar</div>

